.auth {
  height: 100vh;
  width: 100%;
  margin-top: 10rem;
}
.auth form {
  background: rgba(16, 15, 15, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 1rem;
  width: 22rem;
  padding: 30px;
  height: 23rem;
  color: white;
}

.auth input {
 background: rgba( 210, 204, 204, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.auth .signup {
  font-size: 1rem;
}
.auth .text{
    font-size:1rem;
    color:var(--primary-white);
}
